{% include 'header.html' %}
{% load static %}

<link rel="stylesheet" href="static/css/global_detail.css" />
<link rel="stylesheet" href="static/css/index_detail.css" />
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
/>

<main class="nav-link-parent">
<section class="nav-link"></section>
<section class="frame-parent" >
  <div class="heading-parent">
    <img
      class="heading-icon"
      loading="lazy"
      alt=""
      src="media/products/rectangle-47@2x.png"
    />

    <div class="frame-group">
      <div class="wrapper">
        <b class="b">Тыква</b>
      </div>
      <div class="div5">
        <p class="p">
          Плоды тыквы имеют круглую или овальную форму, окрашены в
          оранжевый или бежевый, однако окрас, форма и размер зависят от
          сорта (а их очень много). Вес варьируется от 1 до 100 кг.
          Выделяют несколько групп сортов
        </p>
        <p class="p1">
          Твердокорая тыква распространена больше других на территории
          России. Обладает жесткой кожицей, имеет ребристую поверхность
          и округлую форму. У такого вида очень вкусные семечки. Хороша
          для варки или запекания. В этом виде встречается сорт
          «тыква-спагетти»: мякоть ее похожа на итальянскую пасту, а
          внешне она напоминает вытянутую приплюснутую дыню.
        </p>
      </div>
    </div>
  </div>
  <div class="parent">
    <b class="b1">Выращивание тыквы</b>
    <div class="container">
      <div class="div6">
        <p class="p2">
          Тыкву в былые времена часто высаживали на самых дальних
          участках подворья как раз по той причине, что ухода ей почти
          не нужно. Там она разрасталась вширь, занимая большие площади.
          Но на современных дачах участки небольшие – 6 – 10 соток.
          Отдать под тыкву все – нелепо. Поэтому многие огородники с ней
          просто не связываются. А между тем эти растения можно
          разместить компактно.
        </p>
        <p class="p3">
          В бочке. У многих дачников на участке есть большая
          металлическая или пластиковая бочка, которая была приобретена
          на всякий случай, но так и не нашла применения. А выкинуть
          жалко. И не надо! Туда можно сеять тыкву. Достаточно заполнить
          бочку плодородной землей и посеять семена. Побеги не будут
          ползти по участку, они будут свисать из бочки. Это не только
          экономно, но и красиво!
        </p>
        <p class="p4">
          На навозной куче. Как известно, свежий навоз под овощи не
          вносят – корни сгорят. У всех, кроме тыквы – ей он только на
          пользу. Так что, если вы запаслись органикой, но пока нет
          повода ее использовать, посейте туда тыкву.
        </p>
      </div>
    </div>
  </div>
  <div class="frame-container">
    <div class="frame-div">
      <div class="frame-wrapper">
        <div class="subheading-parent">
          <img
            class="subheading-icon"
            loading="lazy"
            alt=""
            src="media/products/rectangle-48@2x.png"
          />

          <b class="b2">Посадка тыквы</b>
        </div>
      </div>
      <div class="div7">
        <p class="p5">
          Вдоль забора. Можно пустить плети тыквы по забору. Но в этом
          случае возникает проблема: плоды тяжелые, могут оборвать
          плети. Поэтому, как только они начнут увеличиваться в
          размерах, их надо положить в овощные сетки и привязать к
          ограде.
        </p>
        <p class="p6">
          Так что место под тыкву всегда можно найти. Но все же у этой
          культуры есть два условия, которые надо соблюсти.
        </p>
        <p class="p7">
          Плодородная почва. Вообще тыква хорошо растет на любых почвах,
          за исключением сильно кислых и щелочных. Но очень желательно,
          чтобы земля была плодородной, богатой органикой. Если земля
          бедная, при посеве в лунку нужно внести 0,5 ведра перегноя.
        </p>
        <p class="p8">
          Солнечное место. Тыква светолюбива и теплолюбива 
          <a
            class="a"
            href="https://www.kp.ru/family/sad-i-ogorod/kak-vyrastit-tykvu/#istochniki"
            target="_blank"
          >
            <span class="span">(1)</span> </a
          >, выращивать ее нужно на самом светлом участке – в тени
          урожай будет скудным, а то и вовсе не завяжутся плоды.
        </p>
      </div>
    </div>
    <div class="frame">
      <div class="div8">
        <p class="p9">
          В средней полосе и регионах, где похожие условия, все тыквы
          выращивают одинаково. Семена высевают сразу на грядки после 25
          мая на глубину 3 – 4 см 
          <a
            class="a1"
            href="https://www.kp.ru/family/sad-i-ogorod/kak-vyrastit-tykvu/#istochniki"
            target="_blank"
          >
            <span class="span1">(2)</span> </a
          >. В каждую лунку высевают по 3 семечка, а когда появятся
          всходы, оставляют одно самое сильное растение. Все оставлять
          нельзя – они будут мешать друг другу и урожай получится очень
          маленький.
        </p>
        <p class="p10">
          Если семян мало, сорт редкий, тогда можно посеять по одному
          семени, но предварительно их нужно замочить в горячей воде
          (около 50 °С) на 3 – 4 часа 
          <a
            class="a2"
            href="https://www.kp.ru/family/sad-i-ogorod/kak-vyrastit-tykvu/#istochniki"
            target="_blank"
          >
            <span class="span2">(3)</span> </a
          > – это избавит их от возбудителей болезней и поможет быстрее
          прорасти.
        </p>
        <p class="p11">
          Расстояние между лунками зависит от сорта. Если побеги
          короткие, как у кабачков (бывают и такие сорта), тогда схема
          посева – 70х70 см. Если стебли средней длины – в ряду между
          растениями должен быть 1 м, между рядами – 1,5 м. Для сортов с
          длинными плетями – 1,5х2 м. Длина побегов обычно указана на
          пакете с семенами.
        </p>
      </div>
    </div>
  </div>
  <div class="group">
    <b class="b3">Уход за тыквой в открытом грунте</b>
    <div class="frame-wrapper1">
      <div class="frame-parent1">
        <div class="wrapper1">
          <div class="div9">
            <p class="p12">
              Полив. Он нужен только до момента всходов. Можно еще пару
              раз полить, когда появятся ростки (1 раз в неделю). Дальше
              поливать не надо – лишняя вода на поверхности почвы может
              спровоцировать болезни, а корни у тыквы настолько длинные,
              что они без проблем добывают себе воду из нижних слоев
              почвы.
            </p>
            <p class="p13">
              Подкормки. Если тыква растет на плодородной почве,
              дополнительно вносить удобрения не нужно. Если земля
              бедная, тогда за лето ее нужно подкормить 3 раза:
            </p>
            <ul class="ul">
              <li class="li">
                через 2 недели после всходов – настой коровяка (1:10),
                норма – 1 ведро на 5 растений;
              </li>
              <li class="li1">
                когда появится 5 настоящий лист – по 2 чайные ложки
                нитрофоски под каждый куст – разбросать равномерно по
                поверхности почвы и заделать граблями;
              </li>
              <li>
                когда начнут образовываться плети – 1 ст. ложка
                нитрофоски на 10 л воды, норма – ведро на растение.
              </li>
            </ul>
          </div>
        </div>
        <img
          class="frame-child"
          loading="lazy"
          alt=""
          src="media/products/rectangle-49@2x.png"
        />
      </div>
    </div>
  </div>
  <div class="parent1">
    <b class="b4">Сбор урожая тыквы</b>
    <div class="wrapper2">
      <div class="div10">
        <p class="p14">
          С уборкой тыкв торопиться не стоит – чем дольше они лежат в
          огороде, тем вкуснее и полезнее будут. Но важно сорвать их до
          заморозков. В средней полосе срок уборки обычно приходится на
          первую половину сентября.
        </p>
        <p class="p15">
          Чтобы тыквы хранились всю зиму, собирать их нужно в солнечную
          погоду. Если сорвали в дождь, перед закладкой на хранение плод
          нужно просушить 2 недели в проветриваемом помещении при
          температуре около 25 °С.
        </p>
        <p class="p16">
          Плоды к моменту уборки должны быть полностью вызревшими. Если
          на кожуре есть царапины, их можно замазать зеленкой, чтобы не
          загнили.
        </p>
        <p class="p17">
          Срезают тыквы так, чтобы осталась плодоножка (ее оптимальная
          длина – около 10 см). Без плодоножки плоды быстро портятся.
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper3">
    <b class="b5">Правила хранения тыквы</b>
  </div>
  <div class="cta-button-parent">
    <img
      class="cta-button-icon"
      loading="lazy"
      alt=""
      src="media/products/rectangle-50@2x.png"
    />

    <div class="wrapper4">
      <div class="div11">
        <p class="p18">
          Тыквы прекрасно хранятся в квартире – в деревнях их складывали
          под кровати. Это и сейчас самое оптимальное место. Если есть
          кладовка, то можно отправить туда. Или под стол на кухне. В
          теплых условиях крахмал, накопленный в плодах за лето,
          превращается в сахар. И чем дольше тыквы лежат, тем слаще они
          становятся.
        </p>
        <p class="p19">
          Но есть 2 нюанса, которые надо учесть при хранении: помещение
          должно быть сухим и темным. При высокой влажности воздуха и на
          свету плоды лежат меньше и начинают подгнивать.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="n-a">
  <div class="n-a1">
    <div class="n-a2">
      <b class="b6">Специалисты, которые могут Вам помочь с этим:</b>
    </div>
    <div class="benefit-heading-parent">
      <div class="benefit-heading"></div>
      <div class="heading-wrapper">
        <div class="heading"></div>
      </div>
      <div class="typesimple-cards"></div>
    </div>
  </div>
</section>
</main>


<script>
  var text = document.getElementById("text");
  if (text) {
    text.addEventListener("click", function (e) {
      // Please sync "Frame 1" to the project
    });
  }
  </script>

