{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Текст поверх изображения</title>
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header container">
    <div class="header-inner">
        <a href="#" class="logo">AMIRSITE</a>
      
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          
          <nav class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <li>
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
              </li>
              <li >
                <a class="nav-link" href="#">О нас</a>
              </li>
              <li >
                <a class="nav-link" href="#">Контакты</a>
              </li>
              <li >
                <a class="nav-link" href="#">Специалисты</a>
              </li>
              <li >
                <a class="nav-link disabled" aria-disabled="true" href="#">Адрес</a>
              </li>
            </ul>
          </nav>
      </nav>

      <a href="#" class="header-link">Call me<br>
              +996774437123
      </a>
    </div>
  </header>

  
  <div class="main-block">
    <div class="container">
        <div class="main-block-content">
            <span class="main-block-text">
              Добро пожаловать!
            </span>
            <h1 class="main-block-title">AMIRSITE</h1>
            <p class="main-block-Paragraph">Добро пожаловать на наш сайт, посвященный всему,
              что связано с уходом за овощами и фруктами. Мы здесь, чтобы помочь вам выращивать здоровый и обильный урожай.</p>
        </div>
        <div class="main-block-link">
        <a href="#" class="main-block-inner-link">Подробнее</a>
      </div>
    </div>
  </div>


  <div class="main-card">
    <h1>
      {% for category in category %}
       <div class="card" style="width: 18rem;">
      <img src="/media/{{ photos }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ category.title }}</h5>
        <p class="card-text">{{ category.content }}</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
      {% endfor %}
    </h1>
  </div>

  <footer class="footer">
    <a href="#" class="footer-link">Copyright 2024.</a>
  </footer>
</body>
</html>